<div class="mobile-header">
  <div class="mobile-upper-menu">
    <button
      type="button"
      class="mobile-menu-button"
      aria-expanded="false"
      aria-controls="menu-container"
      data-menu-button
    >
      <svg
        class="menu-icon"
        width="20px"
        height="20px"
        aria-label="Переключатель мобильного меню"
      >
        <use class="menu-open" href="./images/sprite_svg.svg#icon-menu"></use>
        <use class="menu-close" href="./images/sprite_svg.svg#icon-close"></use>
      </svg>
    </button>
    <a href="./index.html" class="logo">LOGO</a>
    <button class="button search" data-modal-search-mobile>
      <svg width="24px" height="24px">
        <use href="./images/sprite_svg.svg#icon-search"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu" id="menu-container" data-menu-mobile>
    <nav class="mobile-navigation-menu">
      <button
        type="button"
        class="mobile-inner-menu-button"
        data-menu-inner-button
      >
        <svg class="menu-icon" width="24px" height="24px">
          <use
            class="menu-close"
            href="./images/sprite_svg.svg#icon-close"
          ></use>
        </svg>
      </button>
      <ul class="mobile-js-nav-menu">
        <li>
          <button class="button" data-action="mobile-register">
            Реєстрація / Увійти
          </button>
        </li>
        <li class="mobile-js-nav-menu-item">item1</li>
        <li class="mobile-js-nav-menu-item">item2</li>
        <li class="mobile-js-nav-menu-item">item3</li>
      </ul>
    </nav>
  </div>
</div>
<div class="desktop-menu">
  <div class="upper-menu">
    <button class="button search" data-modal-search>
      <svg width="24px" height="24px">
        <use href="./images/sprite_svg.svg#icon-search"></use>
      </svg>
    </button>
    <a href="./index.html" class="logo">LOGO</a>
    <div class="action-buttons">
      <button class="button" data-action="register" data-modal-login>
        Реєстрація / Увійти</button
      ><button class="button" data-action="create-ad" data-modal-create>
        Створити оголошення!
      </button>
    </div>
  </div>
  <div class="menu" id="menu-container" data-menu-tablet>
    <nav class="navigation-menu">
      <button
        type="button"
        class="menu-button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <svg
          class="menu-icon"
          width="20px"
          height="20px"
          aria-label="Переключатель мобильного меню"
        >
          <use class="menu-open" href="./images/sprite_svg.svg#icon-menu"></use>
          <use
            class="menu-close"
            href="./images/sprite_svg.svg#icon-close"
          ></use>
        </svg>
      </button>
      <ul class="js-nav-menu"></ul>
      <button class="button reset">
        <svg width="24" height="24">
          <use href="./images/sprite_svg.svg#icon-reset"></use></svg
        >Очистити фільтри
      </button>
    </nav>
  </div>
</div>
