.mobile-menu {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #f5f6fb;
    display: none;

    &.is-open {
      display: block;
    }
  }
}
//   @media screen and (min-width: 768px) {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     flex-grow: 1;
//     position: static;
//   }
// }
.mobile-menu-button {
  border: none;
  background-color: transparent;
  padding: 25px;
  margin: 0;
  cursor: pointer;

  .menu-close {
    display: none;
  }

  &.is-open .menu-close {
    display: block;
  }
  .menu-open {
    display: block;
  }
  &.is-open .menu-open {
    display: none;
  }
  &:hover .menu-icon,
  &:focus .menu-icon {
    background: $accent-color;
  }

  @media screen and (max-width: 768px) {
    display: inline-flex;
  }
}
